# --- Python & Django ---
__pycache__/
*.py[cod]
.env
.venv/
db.sqlite3
media/
staticfiles/

# --- Frontend (Vue + Vite) ---
node_modules/
dist/
coverage/
./frontend/coverage/

# --- LaTeX (Memoria) ---
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.nav
*.snm
# LaTeX build artifacts
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.gnuploterrors
*.idx
*.ilg
*.ind
*.loa
*.loe
*.lof
*.log
*.lol
*.lot
*.ltb
*.mw
*.out
*.synctex.gz
*.toc
*.xdy

# --- OS & IDE ---
.vscode/
.idea/
.DS_Store
.pyre_configuration
token.txt
.env