# LaTeX build artifacts
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.gnuploterrors
*.idx
*.ilg
*.ind
*.loa
*.loe
*.lof
*.log
*.lol
*.lot
*.ltb
*.mw
*.out
*.synctex.gz
*.toc
*.xdy