# --- LaTeX build artifacts ---
# Se suben: .tex, .pdf (final), .png (imágenes/pantallas)
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.gnuploterrors
*.idx
*.ilg
*.ind
*.loa
*.loe
*.lof
*.log
*.lol
*.lot
*.ltb
*.mw
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.xdy
